{% extends 'base_test.html' %}
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}AI Dashboard{% endblock %}</title>
</head>
{% load i18n %}

{% block additional-headers %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
<link href="/static/css/calendar.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/bootstrap4/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom fonts for this template-->
<link href="/static/bootstrap4/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Custom styles for this template-->
<link href="/static/bootstrap4/css/sb-admin.css" rel="stylesheet">
<link href="/static/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="portlet box red">
   <div class="portlet-title">
      <div class="caption"><i class="fa fa-adn"></i>Dashboard Artificial Insemination</div>
   </div>

   <div class="portlet-body">
            <form class="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 col-md-offset-6 col-xs-12">
                    <div class="col-md-2 col-md-offset-1">
                        <label class="control-label">From</label>
                            <div class="input-group date form-group" data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd">
                                <input type="text" id="from_date" name="from_date" class="form-control" value="{{start_date}}"  readonly>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-2" style="">
                        <label class="control-label">To</label>
                            <div class="input-group date form-group" data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd">
                                <input type="text" id="to_date" name="to_date" value="{{end_date}}" class="form-control" readonly>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                    </div>

                    <div class="col-md-2" style="margin-left: 0px; padding-left: 0px">
                        <div class="form-group pull-left">
                            <button style="margin-top:27px;" type="submit" class="btn red btn-xs" id="default_search">OK</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
           <div class="row" style="padding: 0px; margin-left: 0px">
                <div id='a' class="col-md-2"  style="background: #399939;text-align: center;padding: 0px;position: relative;border-radius: 10px;cursor: pointer; margin: 15px;width: 150px;height: 100px" >
                   <h4 style="color: white;padding-top: 8px;margin-bottom: 20px"><strong>Total AI</strong> </h4>
                   <h1 class="count" style="color: white;margin-top: 0px;">{{total_ai}}</h1>
                   <div class="col-md-12" style="text-align: right;margin-right: 0px;padding: 0px;opacity: 0.2; position: absolute; bottom: -10px;">
                       <i class="fa fa-calendar-o" style="font-size: 80px;color: white;transform: rotate(0deg)"></i>
                   </div>
                </div>

                <div id='b' class="col-md-2"  style="background: #399939;text-align: center;padding: 0px;position: relative;border-radius: 10px;cursor: pointer; margin: 15px;width: 150px;height: 100px ">
                   <h4 style="color: white;padding-top: 8px; margin-bottom: 20px"><strong>Repeat AI</strong> </h4>
                   <h1 class="count" style="color: white;margin-top: 0px;">{{repeat_ai}} % </h1>
                   <div class="col-md-12" style="text-align: right;margin-right: 0px;padding: 0px;opacity: 0.2; position: absolute; bottom: -10px;">
                       <i class="fa fa-snowflake-o" style="font-size: 80px;color: white;transform: rotate(0deg)"></i>
                   </div>
                </div>

                <div id='c' class="col-md-2"  style="background: #399939;text-align: center;padding: 0px;position: relative;border-radius: 10px;cursor: pointer; margin: 15px;width: 150px;height: 100px">
                   <h4 style="color: white;padding-top: 8px;margin-bottom: 20px"><strong>Conception Rate</strong> </h4>
                   <h1 class="count" style="color: white;margin-top: 0px;">{{conception_rate}} % </h1>
                   <div class="col-md-12" style="text-align: right;margin-right: 0px;padding: 0px;opacity: 0.2; position: absolute; bottom: -10px;">
                       <i class="fa fa-percent" style="font-size: 80px;color: white;transform: rotate(0deg)"></i>
                   </div>
                </div>

                <div id='d' class="col-md-2"  style="background: #399939;text-align: center;padding: 0px;position: relative;border-radius: 10px;cursor: pointer; margin: 15px;width: 150px;height: 100px">
                   <h4 style="color: white;padding-top: 8px; font-size: 18px"><strong>Service Per Conception</strong> </h4>
                   <h1 class="count" style="color: white;margin-top: 0px;">{{service_per_conception}} </h1>
                   <div class="col-md-12" style="text-align: right;margin-right: 0px;padding: 0px;opacity: 0.2; position: absolute; bottom: -10px;">
                       <i class="fa fa-comments-o" style="font-size: 80px;color: white;transform: rotate(-10deg)"></i>
                   </div>
                </div>

                <div id='e' class="col-md-2" style="background: #399939;text-align: center;padding: 0px;position: relative;border-radius: 10px;cursor: pointer; margin: 15px;width: 150px;height: 100px">
                   <h4 style="color: white;padding-top: 8px;margin-bottom: 20px"><strong>Target Achieved</strong> </h4>
                   <h1 class="count" style="color: white;margin-top: 0px;">{{target_achieved}}% </h1>
                   <div class="col-md-12" style="text-align: right;margin-right: 0px;padding: 0px;opacity: 0.2; position: absolute; bottom: -10px;">
                       <i class="fa fa-line-chart " style="font-size: 80px;color: white;transform: rotate(0deg)"></i>
                   </div>
                </div>

            </div>
           <img style="display:none; margin-left: 444px; height:70px;width:70px" id="container" src="{{ STATIC_URL }}images/Spinner.gif">
           <div class="col-md-12" style="margin-top: 50px; margin-bottom: 20px">
                <div class="card" style="height: auto;  margin: 5px">
                    <div class="card-body">
                        <div id="container_1" style="max-width: 100%; margin: 0 auto;"></div>

                    </div>
                </div>
           </div>
           <div class="col-md-12" id="to" style="margin-top: 50px; margin-bottom: 20px">
                <div class="card" style="height: auto;  margin: 5px">
                    <div class="card-body">
                        <div id="container_2" style="max-width: 100%; margin: 0 auto;"></div>

                    </div>
                </div>
           </div>
   </div>

</div>

{% endblock %}
{% block additional-javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>

    <script>

        $("#a").on("click", function() {
            resetAllColor();
            $(this).css("background", "green");
            get_percentage(1)
        });

        $("#b").on("click", function() {
            resetAllColor();
            $(this).css("background", "green");
            get_percentage(2)
        });

        $("#c").on("click", function() {
            resetAllColor();
            $(this).css("background", "green");
             get_percentage(3)
        });

        $("#d").on("click", function() {
            resetAllColor();
            $(this).css("background", "green");
             get_percentage(4)
        });

        $("#e").on("click", function() {
            resetAllColor();
            $(this).css("background", "green");
             get_percentage(5)
        });


        function resetAllColor() {
           $("#a").css("background", "#399939");
           $("#b").css("background", "#399939");
           $("#c").css("background", "#399939");
           $("#d").css("background", "#399939");
           $("#e").css("background", "#399939");
        }

        function dashboardBarChart(div, title, data, drilldown_data,format ) {
           console.log(data);
           Highcharts.chart(div, {
              chart: {
                  type: 'column'
              },
              title: {
                  text: title
              },
              xAxis: {
                  type: 'category'
              },
              series: [{
                  name: '',
                  colorByPoint: true,
                  data: data
                }],
              plotOptions: {
                    column: {
                      groupPadding: 0,
                      pointPadding: 0,
                      dataLabels: {
                        format: format,
                        enabled: true,
                      }
                    }
                  },
              drilldown: {
                    series: drilldown_data
                }
            });
       }

       $(document).ready(function(){
            document.getElementById("a").style.background = "green";
            get_percentage(1);
            // $(function() {
            //    $('.date_pick').datetimepicker().data("DateTimePicker").options({format: "YYYY-MM-DD"});
            // });
            // $(function() {
            //    $('.date_pick_1').datetimepicker().data("DateTimePicker").options({format: "YYYY-MM-DD"});
            // });
       });

       // function get_percentage(category_id)
       // {
       //      $.ajax({
       //          url: '/livestock/get_percentage_dashboard/',
       //          type: 'POST',
       //          dataType: 'json',
       //          data: {
       //              'category_id': category_id
       //          },
       //          beforeSend: function () {
       //              $('#container').show();
       //          },
       //          success: function (result) {
       //              $('#container').hide();
       //              if(category_id == 1){
       //                  dashboardBarChart('container_1', 'Division wise total AI', result.bar_data_division, result.bar_data_drilldown, '');
       //                  dashboardBarChart('container_2', 'Organization wise Artificial Insemination', result.bar_data_organization,'','');
       //                  document.getElementById("to").style.visibility = "visible";
       //              }
       //              else if(category_id == 2){
       //                  dashboardBarChart('container_1', 'Division wise Repeated AI', result.bar_data_division,result.bar_data_drilldown,'{point.y:.1f}%');
       //                  dashboardBarChart('container_2', 'Organization wise Repeated AI', result.bar_data_organization,'','{point.y:.1f}%');
       //                  document.getElementById("to").style.visibility = "visible";
       //              }
       //              else if(category_id == 3){
       //                  dashboardBarChart('container_1', 'Division wise Conception Rate', result.bar_data_division,result.bar_data_drilldown,'{point.y:.1f}%');
       //                  dashboardBarChart('container_2', 'Organization wise Conception Rate', result.bar_data_organization,'','{point.y:.1f}%');
       //                  document.getElementById("to").style.visibility = "visible";
       //              }
       //              else if(category_id == 4){
       //                  dashboardBarChart('container_1', 'Division wise Service per Conception', result.bar_data_division,result.bar_data_drilldown,'');
       //                  dashboardBarChart('container_2', 'Organization wise Service per Conception', result.bar_data_organization);
       //                  document.getElementById("to").style.visibility = "visible";
       //              }
       //              else if(category_id == 5){
       //                  dashboardBarChart('container_1', 'Division wise Target Achieved', result.bar_data_division,result.bar_data_drilldown,'{point.y:.1f}%');
       //                  //dashboardBarChart('container_2', 'Organization wise Target Achieved', result.bar_data_organization)
       //                  document.getElementById("to").style.visibility = "hidden";
       //              }
       //          }
       //      });
       //  }

       function get_percentage(category_id)
       {
            start_date = document.getElementById("from_date").value;
            end_date = document.getElementById("to_date").value;

            $.ajax({
                url: '/livestock/get_percentage_dashboard_new/',
                type: 'POST',
                dataType: 'json',
                data: {
                    'category_id': category_id,
                    'from_date': start_date,
                    'to_date': end_date,
                },
                beforeSend: function () {
                    $('#container').show();
                },
                success: function (result) {
                    $('#container').hide();
                    if(category_id == 1){
                        Highcharts.chart('container_1', JSON.parse(result.jsn));
                        dashboardBarChart('container_2', 'Organization wise Artificial Insemination', result.bar_data_organization,'','');
                        document.getElementById("to").style.visibility = "visible";
                    }
                    else if(category_id == 2){
                        Highcharts.chart('container_1', JSON.parse(result.jsn));
                        dashboardBarChart('container_2', 'Organization wise Repeated AI', result.bar_data_organization,'','{point.y:.1f}%');
                        document.getElementById("to").style.visibility = "visible";
                    }
                    else if(category_id == 3){
                        Highcharts.chart('container_1', JSON.parse(result.jsn));
                        dashboardBarChart('container_2', 'Organization wise Conception Rate', result.bar_data_organization,'','{point.y:.1f}%');
                        document.getElementById("to").style.visibility = "visible";
                    }
                    else if(category_id == 4){
                        Highcharts.chart('container_1', JSON.parse(result.jsn));
                        dashboardBarChart('container_2', 'Organization wise Service per Conception', result.bar_data_organization);
                        document.getElementById("to").style.visibility = "visible";
                    }
                    else if(category_id == 5){
                        Highcharts.chart('container_1', JSON.parse(result.jsn));
                        //dashboardBarChart('container_2', 'Organization wise Target Achieved', result.bar_data_organization)
                        document.getElementById("to").style.visibility = "hidden";
                    }
                }
            });
        }

       $(function () {
            $('#from_date').datepicker({
                format: "yyyy-mm-dd",
            });
            $('#to_date').datepicker({
                format: "yyyy-mm-dd",

            });
        });



    </script>
    {% endblock %}
