<table id ="approval_table_id" class="table table-bordered table-hover table-fixed table-striped">
        <thead>
            <th> Name </th>
            <th>Mobile number</th>
            <th> Type</th>
            <th>Status</th>
            <th></th>
        </thead>
        <tbody>
        {% for data in dataset %}
        <tr>
            <td data-search="Text">{{data.name}}</td>
            <td data-search="Text">{{data.mobile }}</td>
            <td data-search="Text"> {{ data.role_name }}</td>
            <td> {%  if data.status == 0  %}
                <button onclick="approve_entity('{{ data.id }}','{{ data.role_name }}','{{ data.mobile }}','{{data.name}}')" id = ""  class="btn btn-primary btn-md"  data-original-title="" title="">Approve</button>
                <button onclick="reject_entity('{{ data.id }}','{{ data.role_name }}','{{ data.mobile }}')" id = ""  class="btn btn-danger"  data-original-title="" title="">Reject</button>

                {% elif data.status == 1 %}
                Approved
                {% elif data.status == 2 %}
                Rejected
            {% else %}''{% endif %}</td>
            <!--<td>
                <button onclick="approve_entity('{{ data.id }}','{{ data.role_name }}','{{ data.mobile }}')" id = ""  class="btn btn-primary btn-md"  data-original-title="" title="">Approve</button>
                <button onclick="reject_entity('{{ data.id }}','{{ data.role_name }}','{{ data.mobile }}')" id = ""  class="btn btn-danger"  data-original-title="" title="">Reject</button>
                <button onclick="edit_entity('{{ data.id }}')" id = ""  class="btn btn-primary green"  data-original-title="" title="">Update</button>

            </td>-->
            <td><a  href = "/livestock/view_ai_pravet_profile/{{ data.id }}"  target="_blank" class="btn btn-red"  data-original-title="" title="">View Details</a>
</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
