{% extends 'base_test.html' %}

{% block additional-headers %}


    <link rel="stylesheet" type="text/css" media="all" href="/static/css/Date-Range-Picker-For-Twitter-Bootstrap/daterangepicker.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-multiselect.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}assets/plugins/select2/select2_metro.css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/data-tables/DT_bootstrap.css"/>
     <!-- Bootstrap core CSS-->
  <link href="/static/bootstrap4/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/static/bootstrap4/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/static/bootstrap4/css/sb-admin.min.css" rel="stylesheet">
    <link href="/static/bootstrap4/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">



    <style type="text/css">
    .thumbnail{
        border: 0;
    }
    /*.ui-autocomplete { z-index:2147483647; }*/
    body
    {
        font-size: 14px;
    }
    #health_date,#reproduction_date,#sickness_date,.btn-link
    {
        font-size: 13px;
    }
    #health_date,#reproduction_date,#sickness_date
    {
        padding-left: 63px;
    }


    .date-block
    {
        min-height: 39px;
    }
    .date-block p {
    font-size: 13px;

    }

    #health_left
    {

    }


    </style>

{% endblock %}


{% block content %}

<div class="content-wrapper">
    <div class="container-fluid gray-bg">
    <p class="pt-2">Veterinarian's panel</p>

    <!-- veterinarian panel start-->
      <div class="row">

        <!-- veterinarian block 1 start-->

        <div class="col-xl-4 col-md-4 col-sm-12">
          <div class="veterinarian-box">
            <div class="card">
              <div class="card-body pb-4">
                <img src="{{ image_url }}" class="img-fluid"  alt="">
                <div class="card-text float-right">
                  <p>Registration Date:{{ registration_date }}<br>
                  Name: {{ farmer_name }}<br>
                  Mobile Number: {{ mobile }}</p>
                  <button onclick(add_loc({{ id }})) href="#" class="btn btn-success  mt-4">Add Location</button>
                </div>
              </div>
            </div>

            <!-- date bloc start-->
              <span class="control-label btn btn-primary" style="cursor: default;background-color: #00b755; margin-top: 10px;width: 100%; font-size: 14px;" data-original-title="" title=""><b>Health Records</b></span>
            <div class="date-block mt-3">

                <a id="health_left" class="btn btn-success p-3 "><i class="fa fa-angle-left"></i></a>

              <p class="ml-2" id="health_date" >Date: </p>
                <a id="health_right" class="btn btn-success p-3 pull-right"><i class="fa fa-angle-right"></i></a>
{#                <p class="float-right mr-3 mt-3">Health Records</p>#}
            </div>

            <!-- date bloc end-->

            <!-- info collapse start-->

            <div class="info-collapse">
              <div id="accordion">
                <div class="card">
                  <div class="card-header" id="hr-headingOne">
                    <h5 class="mb-0">
                      <a class="btn btn-link" data-toggle="collapse" data-target="#hr-collapseOne" aria-expanded="true" aria-controls="hr-collapseOne">
                        Feeding Information <span>+</span>
                      </a>
                    </h5>
                  </div>

                  <div id="hr-collapseOne" class="collapse" aria-labelledby="hr-headingOne" data-parent="#accordion">
                    <div class="card-body" style="overflow-y: default; height: 100px" id="feeding_information">
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="hr-headingTwo">
                    <h5 class="mb-0">
                      <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#hr-collapseTwo" aria-expanded="false" aria-controls="hr-collapseTwo">
                        Milk Production <span>+</span>
                      </a>
                    </h5>
                  </div>
                  <div id="hr-collapseTwo" class="collapse" aria-labelledby="hr-headingTwo" data-parent="#accordion">
                    <div class="card-body" style="overflow-y: scroll; height: 100px" id="milk_production">
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="hr-headingThree">
                    <h5 class="mb-0">
                      <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#hr-collapseThree" aria-expanded="false" aria-controls="hr-collapseThree">
                        Deworming Vaccination <span>+</span>
                      </a>
                    </h5>
                  </div>
                  <div id="hr-collapseThree" class="collapse" aria-labelledby="hr-headingThree" data-parent="#accordion">
                    <div class="card-body" style="overflow-y: scroll; height: 100px" id="deworming_vaccination">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- info collapse end-->

            <!-- date bloc start-->
            <span class="control-label btn btn-primary" style="cursor: default;background-color: #00b755; margin-top: 10px;width: 100%; font-size: 14px;" data-original-title="" title=""><b>Reproduction</b></span>
            <div class="date-block mt-3">

                <a id="reproduction_left" class="btn btn-success p-3 "><i class="fa fa-angle-left"></i></a>


              <p class="ml-2" id="reproduction_date">Date: </p>
                  <a id="reproduction_right" class="btn btn-success p-3 pull-right"><i class="fa fa-angle-right"></i></a>
            </div>
              <p class="px-3 py-3" id="reproduction"></p>
            <!-- date bloc end-->

             <!-- info collapse start-->



            <!-- info collapse end-->


          </div>
        </div>

        <!-- veterinarian block 1 end-->


        <!-- veterinarian block 2 start-->

        <div class="col-xl-4 col-md-4 col-sm-12">
          <div class="veterinarian-box">
            <div class="card">
              <div class="card-body pb-4">
                <img src="./img/veterinarian-img1.jpg" class="img-fluid"  alt="">
                <div class="card-text float-right">
                  <p>Cattle Name: {{ cattle_name }}<br>
                     Cattle type: {{ cattle_type_text }}<br>
                     Age: {{ cattle_age | safe}}<br>
                     Weight: {{ cattle_weight }}<br>Birth weight:  {{calf_birth_weight  }}
                  </p>
                </div>
              </div>
            </div>

            <!-- date bloc start-->
            <span class="control-label btn btn-primary" style="cursor: default;background-color: #00b755; margin-top: 10px;width: 100%; font-size: 14px;" data-original-title="" title=""><b>Sickness</b></span>
            <div class="date-block mt-3">
              <a id="sickness_left" class="btn btn-success p-3 "><i class="fa fa-angle-left"></i></a>
              <p class="ml-2" id="sickness_date">Date: </p>
              <a id="sickness_right" class="btn btn-success p-3 pull-right"><i class="fa fa-angle-right"></i></a>
            </div>
            <p class="px-3 py-3" id="sickness"></p>


            <!-- date bloc end-->



            <!-- date bloc start-->

            <div class="date-block pt-2">
              <p class="ml-3 mt-2">Clinical Findings</p>
            </div>
            <p class="px-3 py-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <p class="px-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

            <!-- date bloc end-->

          </div>
        </div>

        <!-- veterinarian block 2 end-->

        <!-- veterinarian block 3 start-->

        <div class="col-xl-4 col-md-4 col-sm-12">
          <div class="veterinarian-box">
            <div class="card">
              <div class="card-body pb-4"  style="overflow:scroll;height: 121px;">
                  {% for data in sickness_images %}
                <!--<img src="{{ data.picture_sinckness_sign }}" class="img-fluid"  alt="">-->
                      <img src="{{ data.picture_sinckness_sign }}
                  {% endfor %}
                <div class="card-text float-right">
                  <h4 class="mt-5">Sickness Image</h4>
                </div>
              </div>
            </div>

            <!-- date bloc start-->
            <div id = "clinical_findings_div">
            <div class="date-block mt-3">
              <p class="ml-3 mt-2">Enter Clinical findings</p>
            </div>
            <!-- date bloc end-->

            <!-- clinical finding form start-->
            <form id="clinical_diagnosis_form" class="py-3 px-3" action="/livestock/clinical_findings/{{ appointment_id }}" method="post">
            {% csrf_token %}
            <input type="hidden" value="" id="clinical_findings_id" name = "clinical_findings_id">

            <div class="form-group">
              <label for="exampleInputEmail1">Details of Farmer's complain; including duration of sickness</label>
                <textarea type="email" class="form-control" name="complain_details" id="complain_details" aria-describedby="emailHelp" placeholder=""></textarea>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Treatment history (if under treatment)</label>
                <textarea type="email" class="form-control" name="treatment_history" id="treatment_history" aria-describedby="emailHelp" placeholder=""></textarea>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Is there other cattle infected with same type of sickness?:</label>
              <select  class="form-control" id="same_sickness_other_cattle"  name="same_sickness_other_cattle" aria-describedby="emailHelp">
                    {% for data in same_sickness_other_cattle %}
                    <option value="{{ data.0 }}">{{ data.1 }}</option>
                    {% endfor %}
                </select>
            </div>

                <div class="form-group">
              <label for="exampleInputEmail1">How many of the sick cattle was affected or died?</label>
                <input type="number" class="form-control"  name="sick_cattle_affected_or_died" id="sick_cattle_affected_or_died" aria-describedby="emailHelp" placeholder="">
            </div>

                <div class="form-group">
                <label for="exampleInputEmail1">Deworming history</label>
                <textarea type="email" class="form-control" id="deworming_history" name="deworming_history" aria-describedby="emailHelp" placeholder=""></textarea>
            </div>

                <div class="form-group">
              <label for="exampleInputEmail1">Feeding history</label>
                <textarea type="email" class="form-control" id="feeding_history" name="feeding_history" aria-describedby="emailHelp" placeholder=""></textarea>
            </div>

                <div class="form-group">
              <label for="exampleInputEmail1">What wrong feeding done in last few days?:</label>
              <select  class="form-control multiselect_class" multiple="multiple" name="wrong_feeding_last_days[]"  id="wrong_feeding_last_days" aria-describedby="emailHelp"  style="buttonWidth: '100%'">
                     {% for data in wrong_feeding_last_days %}
                    <option value="{{ data.0 }}">{{ data.1 }}</option>
                    {% endfor %}
                </select>
            </div>

                <div class="form-group">
              <label for="exampleInputEmail1"> Details of rumination</label>
                <textarea class="form-control" id="rumination" name="rumination" aria-describedby="emailHelp" placeholder=""></textarea>
            </div>

                <div class="form-group">
              <label for="exampleInputEmail1">Details of lacrimation</label>
                <textarea  class="form-control" id="lacrimation" name="lacrimation" aria-describedby="emailHelp" placeholder=""></textarea>
            </div>

                <div class="form-group">
              <label for="exampleInputEmail1">Wetness of muzzle:</label>
              <select  class="form-control" id="muzzle" name="muzzle" aria-describedby="emailHelp">
                     {% for data in muzzle %}
                    <option value="{{ data.0 }}">{{ data.1 }}</option>
                    {% endfor %}
                </select>
            </div>

                <div class="form-group">
              <label for="exampleInputEmail1">Generalized sign of sickness:</label>
              <select  class="form-control multiselect_class" multiple="multiple" name="sickness_sign[]" id="sickness_sign" aria-describedby="emailHelp">
                     {% for data in sickness_sign %}
                    <option value="{{ data.0 }}">{{ data.1 }}</option>
                    {% endfor %}
                </select>
            </div>

                <div class="form-group">
              <label for="exampleInputEmail1">আচরণগত লক্ষণ:</label>
              <select  class="form-control multiselect_class" multiple="multiple"  name="behavioral_signs[]" id="behavioral_signs" aria-describedby="emailHelp">
                     {% for data in behavioral_signs %}
                    <option value="{{ data.0 }}">{{ data.1 }}</option>
                    {% endfor %}
                </select>
            </div>

                <div class="form-group">
              <label for="exampleInputEmail1">মুখ ও পরিপাক সংক্রান্ত লক্ষণ:</label>
              <select  class="form-control multiselect_class" multiple="multiple"  name="mouth_digestion_sign[]" id="mouth_digestion_sign" aria-describedby="emailHelp">
                     {% for data in mouth_digestion_sign %}
                    <option value="{{ data.0 }}">{{ data.1 }}</option>
                    {% endfor %}
                </select>
            </div>

                <div class="form-group">
              <label for="exampleInputEmail1">পায়খানার অবস্থা:</label>
              <select  class="form-control" id="stool_condition" name = "stool_condition" aria-describedby="emailHelp">
                     {% for data in stool_condition %}
                    <option value="{{ data.0 }}">{{ data.1 }}</option>
                    {% endfor %}
                </select>
            </div>

                <div class="form-group">
              <label for="exampleInputEmail1">শ্বাসতন্ত্রের লক্ষণ:</label>
              <select  class="form-control multiselect_class" multiple="multiple" name="repiratory_sign[]" id="repiratory_sign" aria-describedby="emailHelp">
                     {% for data in repiratory_sign %}
                    <option value="{{ data.0 }}">{{ data.1 }}</option>
                    {% endfor %}
                </select>
            </div>

                <div class="form-group " id="q_reproductive_problem"  style="display: none">
              <label for="exampleInputEmail1">বর্তমানে প্রজনন সংক্রান্ত কি সমস্যা আছে?:</label>
              <select  class="form-control multiselect_class" multiple="multiple"  name="reproductive_problem[]" id="reproductive_problem" aria-describedby="emailHelp">
                     {% for data in reproductive_problem %}
                    <option value="{{ data.0 }}">{{ data.1 }}</option>
                    {% endfor %}
                </select>
            </div>

                <div class="form-group" id="q_milking_problem"  style="display: none">
              <label for="exampleInputEmail1">দুধ উৎপাদন সম্পর্কিত কোন সমস্যা আছে? থাকলে কি কি ?:</label>
              <select  class="form-control multiselect_class" multiple="multiple" name ="milking_problem[]" id="milking_problem" aria-describedby="emailHelp">
                     {% for data in milking_problem %}
                    <option value="{{ data.0 }}">{{ data.1 }}</option>
                    {% endfor %}
                </select>
            </div>

                <div class="form-group" id ="q_male_reproductive_problem" style="display: none">
              <label for="exampleInputEmail1">পুরুষ প্রজননতন্ত্রের সমস্যা:</label>
              <select  class="form-control multiselect_class" multiple="multiple"  name ="male_reproductive_problem[]" id="male_reproductive_problem" aria-describedby="emailHelp">
                     {% for data in male_reproductive_problem %}
                    <option value="{{ data.0 }}">{{ data.1 }}</option>
                    {% endfor %}
                </select>
            </div>

                <div class="form-group">
              <label for="exampleInputEmail1">চামড়ার সমস্যা:</label>
              <select class="form-control multiselect_class" multiple="multiple"  name="skin_problem[]" id="skin_problem" aria-describedby="emailHelp">
                     {% for data in skin_problem %}
                    <option value="{{ data.0 }}">{{ data.1 }}</option>
                    {% endfor %}

                </select>
            </div>

                <div class="form-group">
              <label for="exampleInputEmail1">পায়ের সমস্যা:</label>
              <select  class="form-control multiselect_class" multiple="multiple"  name = "foot_problem[]" id="foot_problem" aria-describedby="emailHelp">
                    < {% for data in foot_problem %}
                    <option value="{{ data.0 }}">{{ data.1 }}</option>
                    {% endfor %}
                </select>
            </div>

                <div class="form-group">
              <label for="exampleInputEmail1">মেগট ঘা:</label>
              <select  class="form-control multiselect_class" multiple="multiple"  id="megot" name ="megot[]">
                    {% for data in megot %}
                    <option value="{{ data.0 }}">{{ data.1 }}</option>
                    {% endfor %}
                </select>
            </div>

                <div class="form-group">
              <label for="exampleInputEmail1">রোগ সংক্রমণের ধরণ কি রকম?:</label>
              <select  class="form-control" id="disease_pattern" aria-describedby="emailHelp" name="disease_pattern">
                     {% for data in disease_pattern %}
                         <option value="{{ data.0 }}">{{ data.1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Tentative Diagnosis</label>
                <input type="text" class="form-control" name="tentative_diagnosis" id="diagnosis_name" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group">
              <input type="submit">
            </div>
          </form>
            </div>
            <!-- clinical finding form end-->

          </div>
        </div>

        <!-- veterinarian block 3 end-->

      </div>

    <!-- Veterinarian panel end-->

    <!-- Prescription panel start-->
      <div class="prescription" id ="prescription" style="display:none">
        <div class="date-block mt-3">
           <div class="date-btn float-right">
                <button onclick="get_suggested_prescription('{{ cattle_type }}','{{ cattle_weight }}','Arthritis')" class="btn btn-warning p-3 ">Suggested Prescription</button>
                <button onclick="add_medicine()" class="btn btn-warning p-3">Add Medicine</button>
              </div>
              <p class="ml-3 mt-2">Enter Clinical findings</p>
        </div>
        <div class="suggestion-box mt-4">
          <div class="row">
            <!--<div class=" ml-5 mr-3">1.</div>-->
            <div class="col-md-11">
              <form  id ="prescription_form" method="post" action="/livestock/submit_prescription/{{ appointment_id }}"  onsubmit="return false;">
                  {% csrf_token %}
                  <input type="hidden" id ="clinical_findings_id_prescription" value="" name="clinical_findings_id_prescription">
                  <div id = "container_loop">
                    <div id = "loop" class="loop_class">

                      <div class="form-group">
                        <input type="text" required name = "med_part_1[]" class="form-control lst" id="med_p1" placeholder="Medicine type, Name, Pack size, quantity:">
                      </div>
                      <div class="form-group">
                        <input type="text" required name = "med_part_2[]" class="form-control lst" id="med_p2" placeholder="Dose, Route days:">
                      </div>
                        <button class="btn btn-lg minus" onclick="delete_element(this)" type="button" >
                                <span class="glyphicon glyphicon-minus"></span>
                        </button>

                    <!--<div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <!--<button class="btn btn-lg" type="button" id="plus">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>-->
                            <!--<button class="btn btn-lg minus" onclick="delete_element()" type="button" >
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </div>
                    </div>
                    </div>-->
</div><!--end loop div-->

                    </div> <!--end container loop div-->

              <div class="form-group">
                 <label for="exampleFormControlTextarea1">Advice</label>
                 <textarea class="form-control" required name="advice" id="advice" rows="3" placeholder="Suggestion box"></textarea>
              </div>

            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-7">
              <div class="revisit">
                Please see the doctor again after:
                <!--<select class="mb-3" name="revisit">
                  <option selected>3</option>
                  <option value="1">4</option>
                  <option value="2">7</option>
                  <option value="3">10</option>
                </select>--->
                  <input class="mb-3" name="revisit" type="number">
               days
               </div>
            </div>
            <div class="col-md-5 ">
              <a href="#" class="btn btn-danger p-3">Cancel</a>
              <a href="#" class="btn btn-primary p-3">Save</a>
              <button type = "submit" class="btn btn-success p-3">Submit</button>

            </div>
          </div>

        </div>
           </form>

      </div>

    <!-- Prescription panel end-->

    <!--old prescription load-->
<div id = "old_prescription_div">


</div>
    </div>
    <!--old prescription load-->

    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <!--<footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>-->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!--Add medicine modal -->
    <div class="modal fade" id="add_medicine_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Medicine</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">

             <div class="form-group ui-front">
              <label for="exampleInputEmail1">Medicine Type</label>
              <input class="form-control" id="m_type" name="rumination" aria-describedby="emailHelp" placeholder="">
            </div>

              <div class="form-group ui-front">
              <label for="exampleInputEmail1"> Medicine Name</label>
                <input class="form-control" id="m_name" name="rumination" aria-describedby="emailHelp" placeholder="">
              </div>

                <div class="form-group ui-front">
              <label for="exampleInputEmail1">Pack Size</label>
                <input  class="form-control" id="p_size" name="lacrimation" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Quantity</label>
                <input  class="form-control" id="qty" name="lacrimation" aria-describedby="emailHelp" placeholder="">
            </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Dose</label>
                <input  class="form-control" id="dose" name="lacrimation" aria-describedby="emailHelp" placeholder="">
            </div>

                <div class="form-group">
              <label for="exampleInputEmail1">Route</label>
              <select  class="form-control" id="route" name="muzzle" aria-describedby="emailHelp">
                     {% for data in muzzle %}
                    <option value="{{ data.1 }}">{{ data.1 }}</option>
                    {% endfor %}
                </select>
            </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Days</label>
                <input type="number" class="form-control" id="day" name="lacrimation" aria-describedby="emailHelp" placeholder="">
            </div>



          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" onclick="put_medicine()" type="button" data-dismiss="modal">Add Medicine</button>
              <button class="btn btn-primary" type="button" data-dismiss="modal" aria-label="Close">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block additional-javascript %}


     <!-- Bootstrap core JavaScript-->
    <!--<script src="/static/bootstrap4/vendor/jquery/jquery.min.js"></script>-->
    <script src="/static/bootstrap4/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/static/bootstrap4/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/bootstrap4/js/sb-admin.min.js"></script>
    <!--datatable -->
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/plugins/data-tables/DT_bootstrap.js"></script>
    <!--datatable ended-->
     <script type="text/javascript" src="/static/js/Date-Range-Picker-For-Twitter-Bootstrap/date.js"></script>
	<script type="text/javascript" src="/static/js/Date-Range-Picker-For-Twitter-Bootstrap/daterangepicker.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-multiselect.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/clinical_findings.js"></script>

    <script>
        var cattle_id = {{ cattle_id }}
        var appointment_id = {{ appointment_id }}
        var cattle_type = {{ cattle_type }}
        var appointment_status = {{ appointment_status }}
        var appointment_type = {{ appointment_type }}
        if ((appointment_type == 2) && (appointment_status == 1)){
            if ('{{ clinical_findings_data }}'){
                $('#clinical_findings_id_prescription').val('{{ clinical_findings_data.id }}')
                $('#clinical_findings_id').val('{{ clinical_findings_data.id }}')
                $('#complain_details').val('{{ clinical_findings_data.complain_details  | safe}}')
                $('#treatment_history').val('{{ clinical_findings_data.treatment_history | safe}}')
                $('#same_sickness_other_cattle').val({{ clinical_findings_data.same_sickness_other_cattle  | safe}} )
                $('#sick_cattle_affected_or_died').val('{{ clinical_findings_data.sick_cattle_affected_or_died | safe}}')
                $('#deworming_history').val('{{ clinical_findings_data.deworming_history | safe}}')
                $('#feeding_history').val('{{ clinical_findings_data.feeding_history | safe}}')
                $('#wrong_feeding_last_days').val({{ clinical_findings_data.wrong_feeding_last_days | safe}})
                $('#rumination').val('{{ clinical_findings_data.rumination | safe}}')
                $('#lacrimation').val('{{ clinical_findings_data.lacrimation | safe}}')
                $('#muzzle').val({{ clinical_findings_data.muzzle | safe}})
                $('#sickness_sign').val({{ clinical_findings_data.sickness_sign | safe}})
                $('#behavioral_signs').val({{ clinical_findings_data.behavioral_signs | safe}})
                $('#mouth_digestion_sign').val({{ clinical_findings_data.mouth_digestion_sign | safe}})
                $('#stool_condition').val('{{ clinical_findings_data.stool_condition | safe}}')
                $('#repiratory_sign').val({{ clinical_findings_data.repiratory_sign | safe}})
                $('#reproductive_problem').val({{ clinical_findings_data.reproductive_problem | safe}})
                $('#milking_problem').val({{ clinical_findings_data.milking_problem | safe}})
                $('#male_reproductive_problem').val({{ clinical_findings_data.male_reproductive_problem | safe}})
                $('#skin_problem').val({{ clinical_findings_data.skin_problem | safe}})
                $('#foot_problem').val({{ clinical_findings_data.foot_problem | safe}})
                $('#megot').val({{ clinical_findings_data.megot|safe }})
                $('#disease_pattern').val('{{ clinical_findings_data.disease_pattern | safe}}')
                $('#diagnosis_name').val('{{ clinical_findings_data.tentative_diagnosis | safe}}')

            }
            $('#prescription').show();
        }
        if (((appointment_type == 1) || (appointment_type == 3)) && (appointment_status == 0)){
            $('#prescription').show();
        }
        //বকনা	:1,গাভী:2,ষাঁড়/দামড়া:3,বাছুর:4


        if (cattle_type == 1){
            console.log("1")
            $('#q_reproductive_problem').show()
            $('#q_milking_problem').hide()
            $('#q_male_reproductive_problem').hide()
        }

        if (cattle_type == 2){
            console.log("2")
            $('#q_reproductive_problem').show()
            $('#q_milking_problem').show()
            $('#q_male_reproductive_problem').hide()
        }

        if (cattle_type == 3){
            console.log("3")
            $('#q_reproductive_problem').show()
            $('#q_milking_problem').hide()
            $('#q_male_reproductive_problem').show()
        }

        $(document).ready(function () {
            get_old_prescription(cattle_id);
            $('.multiselect_class').multiselect({
                onDropdownHidden: function(event) {
                //alert('Dropdown closed.');
                multiselect_class = $('.multiselect_class').val();
                },
                buttonWidth: '60%',
                numberDisplayed: 1,
                includeSelectAllOption: true,
            });
            $("#diagnosis_name").autocomplete({
                 source: function( request, response ) {
                        var diagnosis = $("#diagnosis_name").val();
                        var output = [];
                        $.ajax({
                                url: "/livestock/get_diagnosis_name/",
                                data: {
                                    'diagnosis_name' : diagnosis},
                                type : "POST",
                                success: function( data ) {
                                     $.each(data, function(i, item) {
                                         output.push( item.diagnosis_name );
                                     });
                                    response(output);
                                }
                       });

             },
             minLength: 0,
                }).focus(function () {
                    $(this).autocomplete("search");
                });

            $("#m_name").autocomplete({
                 source: function( request, response ) {
                        var m_name = $("#m_name").val();
                        var p_size = $("#p_size").val();
                        var m_type = $("#m_type").val();
                        var output = [];
                        $.ajax({
                                url: "/livestock/get_medicine_name/",
                                data: {
                                    'm_name' : m_name,'packsize' : p_size,'m_type' : m_type
                                },
                                type : "POST",
                                success: function( data ) {
                                    console.log(data)
                                     $.each(data, function(i, item) {
                                         output.push( item.medicine_name );
                                     });
                                    response(output);
                                }
                       });

             },
             minLength: 0,
                }).focus(function () {
                    $(this).autocomplete("search");
                });

            $("#m_type").autocomplete({
                 source: function( request, response ) {
                        var m_name = $("#m_name").val();
                        var p_size = $("#p_size").val();
                        var m_type = $("#m_type").val();
                        var output = [];
                        $.ajax({
                                url: "/livestock/get_medicine_type/",
                                data: {
                                    'm_name' : m_name,'packsize' : p_size,'m_type' : m_type
                                },
                                type : "POST",
                                success: function( data ) {
                                    console.log(data)
                                     $.each(data, function(i, item) {
                                         output.push( item.m_type );
                                     });
                                    response(output);
                                }
                       });

             },
             minLength: 0,
                }).focus(function () {
                    $(this).autocomplete("search");
                });

            $("#p_size").autocomplete({
                 source: function( request, response ) {
                        var m_name = $("#m_name").val();
                        var p_size = $("#p_size").val();
                        var m_type = $("#m_type").val();
                        var output = [];
                        $.ajax({
                                url: "/livestock/get_medicine_packsize/",
                                data: {
                                    'm_name' : m_name,'packsize' : p_size,'m_type' : m_type
                                },
                                type : "POST",
                                success: function( data ) {
                                    console.log(data)
                                     $.each(data, function(i, item) {
                                         output.push( item.packsize );
                                     });
                                    response(output);
                                }
                       });

             },
             minLength: 0,
                }).focus(function () {
                    $(this).autocomplete("search");
                });

        /*  PREVENT FORM SUBMISSION BY HITTING ENTER   */
        $(document).on('keyup keypress', 'form input[type="text"]', function(e) {
          if(e.keyCode == 13) {
            e.preventDefault();
            return false;
          }
        });

        }); //ready function ended

        $(document).on('keyup', '.lst', function(e) {
              var code = (e.keyCode ? e.keyCode : e.which);
              if (code == 13) {
                  e.preventDefault();
                $("#loop").clone().appendTo("#container_loop").find("input").val("");
                $(this).focus().select();

              }
            });
        $(document).on("submit", "#clinical_diagnosis_form", function (event) {
            event.preventDefault();
            form_url = $(this).attr('action');
            var data = new FormData(this); // <-- 'this' is form element
            //return formData;
            $.ajax({
                type: 'POST',
                url: form_url,
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    alert(data);
                    //$('#success_msg_upload').html("");
                    //$('#success_msg_upload').html('<div class="alert alert-success fade in alert-dismissible"><strong>Success!</strong> Successfully uploaded</div>');

                },
                error: function (xhr, status, error) {
                   // $('#error_msg_upload').html("<h5><strong>"+xhr.responseText+"</strong></h5>");
                }
            }); //ajax end
        });

        $(document).on("submit", "#prescription_form", function (event) {
            console.log("trigger submit_prescription");
            event.preventDefault();
            form_url = $(this).attr('action');
            console.log(form_url)
            var data = new FormData(this); // <-- 'this' is form element
            //return formData;
            $.ajax({
                type: 'POST',
                url: form_url,
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    console.log(data);
                    //$('#success_msg_upload').html("");
                    //$('#success_msg_upload').html('<div class="alert alert-success fade in alert-dismissible"><strong>Success!</strong> Successfully uploaded</div>');

                },
                error: function (xhr, status, error) {
                   // $('#error_msg_upload').html("<h5><strong>"+xhr.responseText+"</strong></h5>");
                }
            }); //ajax end
        });


    function delete_element(obj){
        if($('#container_loop').children().length!=1){
            $(obj).parent('div').remove();
        }
    }

    function add_medicine() {
        $('#add_medicine_modal').modal('show');
    }

    function put_medicine() {
        var m_name = $("#m_name").val();
        var p_size = $("#p_size").val();
        var m_type = $("#m_type").val();
        var qty = $("#qty").val();
        var dose = $("#dose").val();
        var route = $("#route").val();
        var day = $("#day").val();
        var m_p_1 = m_type+','+m_name+','+p_size+'*'+qty;
        var m_p_2 = dose+','+route+','+day;
        var arr = [m_p_1,m_p_2];
        i=0;
        $("#loop").clone().appendTo("#container_loop").find('input').each(function (e){
            $(this).val(arr[i]);
            i++;
        });
        $(this).focus().select();
        $('#add_medicine_modal').modal('toggle');
    }

    function get_suggested_prescription(type,weight,diagnosis) {
        console.log(type)
        console.log(weight)
        console.log(diagnosis)

        $.ajax({
                type: 'POST',
                url: '/livestock/get_suggested_prescription/',
                data: {'cattle_type' : type, 'weight' : weight, 'diagnosis' : diagnosis},
                success: function (data) {
                    console.log(data.a_data);
                    console.log("*************************************");
                    console.log(data.m_data);
                    //$('.loop_class input[value=""]').remo()
                     /*$('div.loop_class :input').filter('input:text[value=""]')
                   .parent(':first')
                   .addClass('first_empty');*/
                    //$('.loop_class > input:text[value=""]').parent().addClass('first_empty');


                    //$('div.loop_class input') .filter('input:text[value=""]') .filter(':first') .parent().css('background-color', 'green');
                    if( data){
                        $.each(data.m_data, function(i, item) {
                            m_p_1 = item.mpart_1
                            m_p_2 = item.mpart_2
                            console.log(arr)
                            var arr = [m_p_1, m_p_2];
                            i=0;
                            $("#loop").clone().appendTo("#container_loop").find('input').each(function (e){
                                $(this).val(arr[i]);
                                console.log(arr[i])
                                i++;
                            });
                            $(this).focus().select();
                            });

                        $('#advice').val(data.a_data)
                    }
                    else{
                        alert("No prescription suggested.")
                    }
                    //$('#success_msg_upload').html("");
                    //$('#success_msg_upload').html('<div class="alert alert-success fade in alert-dismissible"><strong>Success!</strong> Successfully uploaded</div>');

                },
                error: function (xhr, status, error) {
                   // $('#error_msg_upload').html("<h5><strong>"+xhr.responseText+"</strong></h5>");
                }
            }); //ajax end
    }


    function get_old_prescription(cattle_id) {

        $.ajax({
                type: 'POST',
                url: '/livestock/get_old_prescription/'+cattle_id+'/',
                success: function (data) {
                    $("#old_prescription_div").html(data);
                },
                error: function (xhr, status, error) {

                }
            }); //ajax end
    }


















    /* Health Records */



    var feeding_information_index = 0;
    var milk_production_index = 0;
    var deworming_vaccination_index = 0;
    var sickness_index = 0;
    var health_dates_index = 0;
    var reproduction_index = 0;
    var feeding_information_data = [];
    var milk_production_data = [];
    var deworming_vaccination_data = [];
    var sickness_data = [];
    var reproduction_data = [];
    var health_dates = [];

    var data = {{ data |safe }};

    for(idx in data)
    {
        if(data[idx].title=='feeding_information')
        {
            if(!health_dates.includes(data[idx].rpt_date))
                health_dates.push(data[idx].rpt_date);
            feeding_information_data.push(data[idx]);
        }
        else if( data[idx].title=='milk_production' )
        {
            if(!health_dates.includes(data[idx].rpt_date))
                health_dates.push(data[idx].rpt_date);
            milk_production_data.push(data[idx]);
        }
        else if(data[idx].title=='deworming_vaccination')
        {
            if(!health_dates.includes(data[idx].rpt_date))
                health_dates.push(data[idx].rpt_date);
            deworming_vaccination_data.push(data[idx]);
        }
        else if (data[idx].title=='sickness')
        {
            sickness_data.push(data[idx]);
        }
        else if(data[idx].title=='reproduction')
        {
            reproduction_data.push(data[idx]);
        }
    }


    // sorting date in descending order
        health_dates.sort(function (a, b) {
            return new Date(b) - new Date(a);
    });
    health_dates = JSON.parse(JSON.stringify(health_dates));



    function date_set(g_data,id,index) {
        $(id).text('Date: '+g_data[index].rpt_date)
    }

    function content_set(g_data,id,index) {
        $(id).html(g_data[index].content)
    }


    if(health_dates.length){
        $('#health_date').text('Date: '+health_dates[0]);
    }
     if(feeding_information_data.length && feeding_information_data[0].rpt_date==health_dates[0])
        content_set(feeding_information_data,feeding_information,0);
     if(milk_production_data.length && milk_production_data[0].rpt_date==health_dates[0])
        content_set(milk_production_data,milk_production,0);
     if(deworming_vaccination_data.length && deworming_vaccination_data[0].rpt_date==health_dates[0])
        content_set(deworming_vaccination_data,deworming_vaccination,0);

    if(sickness_data.length)
    {
        date_set(sickness_data,sickness_date,0);
        content_set(sickness_data,sickness,0);
    }
    if(reproduction_data.length)
    {
        date_set(reproduction_data,reproduction_date,0);
        content_set(reproduction_data,reproduction,0);
    }


        $('#health_left').on('click', function () {
            if (feeding_information_index > 0)
                feeding_information_index--;
            if (milk_production_index > 0)
                milk_production_index--;
            if (deworming_vaccination_index > 0)
                deworming_vaccination_index--;
            if (health_dates_index > 0)
                health_dates_index--;

            if (health_dates.length)
                $('#health_date').text('Date: ' + health_dates[health_dates_index]);

            if (feeding_information_data.length && feeding_information_data[feeding_information_index].rpt_date == health_dates[health_dates_index])
                content_set(feeding_information_data, feeding_information, feeding_information_index);
            if (milk_production_data.length && milk_production_data[milk_production_index].rpt_date == health_dates[health_dates_index])
                content_set(milk_production_data, milk_production, milk_production_index);
            if (deworming_vaccination_data.length && deworming_vaccination_data[deworming_vaccination_index].rpt_date == health_dates[health_dates_index])
                content_set(deworming_vaccination_data, deworming_vaccination, deworming_vaccination_index);
        });

        $('#health_right').on('click', function () {
            if (feeding_information_index < feeding_information_data.length - 1)
                feeding_information_index++;
            if (milk_production_index < milk_production_data.length - 1)
                milk_production_index++;
            if (deworming_vaccination_index < deworming_vaccination_data.length - 1)
                deworming_vaccination_index++;
            if (health_dates_index < health_dates.length - 1)
                health_dates_index = health_dates_index + 1;
            if (health_dates.length)
                $('#health_date').text('Date: ' + health_dates[health_dates_index]);

            if (feeding_information_data.length && feeding_information_data[feeding_information_index].rpt_date == health_dates[health_dates_index])
                content_set(feeding_information_data, feeding_information, feeding_information_index);
            if (milk_production_data.length && milk_production_data[milk_production_index].rpt_date == health_dates[health_dates_index])
                content_set(milk_production_data, milk_production, milk_production_index);
            if (deworming_vaccination_data.length && deworming_vaccination_data[deworming_vaccination_index].rpt_date == health_dates[health_dates_index])
                content_set(deworming_vaccination_data, deworming_vaccination, deworming_vaccination_index);
        });


        $('#reproduction_left').on('click', function () {
            if (reproduction_index > 0)
                reproduction_index--;

            if (reproduction_data.length)
            {
                $('#reproduction_date').text('Date: ' + reproduction_data[reproduction_index].rpt_date);
                content_set(reproduction_data, reproduction, reproduction_index);
            }
        });

        $('#reproduction_right').on('click', function () {
            if (reproduction_index < reproduction_data.length - 1)
                reproduction_index++;

            if (reproduction_data.length)
            {
                $('#reproduction_date').text('Date: ' + reproduction_data[reproduction_index].rpt_date);
                   content_set(reproduction_data, reproduction, reproduction_index);
            }
        });

        $('#sickness_left').on('click', function () {
            if (sickness_index > 0)
                sickness_index--;

            if (sickness_data.length)
            {
                $('#sickness_date').text('Date: ' + sickness_data[sickness_index].rpt_date);
                content_set(sickness_data, sickness, sickness_index);
            }
        });

        $('#sickness_right').on('click', function () {
            if (sickness_index < sickness_data.length - 1)
                sickness_index++;

            if (sickness_data.length)
            {
                $('#sickness_date').text('Date: ' + sickness_data[sickness_index].rpt_date);
                   content_set(sickness_data, sickness, sickness_index);
            }
        });



</script>

{% endblock %}



























