<table id ="cattle_table_id" class="table table-bordered table-hover table-fixed table-striped">
        <thead>
            <th> Image </th>
            <th>Cattle Type</th>
            <th> Age</th>
            <th></th>
            <!--<th>Action</th>-->
        </thead>
        <tbody>
        {% for data in dataset %}
        <tr>
            <td><img src="/media/{{ cattle_regi_form_owner }}/attachments/{{ data.image }}" class="img-responsive" alt=""  style="border: 3px solid #f9f9f9;width: 97%;height:50%;margin: 0 auto;"></td>
            <td>{{data.cattle_type_text }}</td>
            <td> {{ data.calf_age }}</td>
            <td> <a  href = "" id = ""  class="btn btn-primary btn-md"  data-original-title="" title="">Details</a></td>
            <!--<td>
                <button onclick="approve_entity('{{ data.id }}','{{ data.role_name }}','{{ data.mobile }}')" id = ""  class="btn btn-primary btn-md"  data-original-title="" title="">Approve</button>
                <button onclick="reject_entity('{{ data.id }}','{{ data.role_name }}','{{ data.mobile }}')" id = ""  class="btn btn-danger"  data-original-title="" title="">Reject</button>
                <button onclick="edit_entity('{{ data.id }}')" id = ""  class="btn btn-primary green"  data-original-title="" title="">Update</button>

            </td>-->

        </tr>
        {% endfor %}
        </tbody>
    </table>
