<table id ="cattle_table_id" class="table table-bordered table-hover table-fixed table-striped">
        <thead>
            <th> Image </th>
            <th>Cattle Type</th>
            <th> Age(Month)</th>
            <th></th>
            <!--<th>Action</th>-->
        </thead>
        <tbody>
        {% for data in dataset %}
        <tr>
            <td><img src="{{ data.image_url }}" class="img-responsive" alt=""  style="border: 3px solid #f9f9f9;width: 150px;height:100px;margin: 0 auto;"></td>
            <td>{{data.cattle_type_text }}</td>
            <td> {{ data.cattle_age }}</td>
            <td> <a target="_blank" href = "/livestock/cattle_profile/{{ data.cattle_system_id }}/0" id = ""  class="btn btn-primary btn-md"  data-original-title="" title="">Details</a></td>


        </tr>
        {% endfor %}
        </tbody>
    </table>
