<div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="card text-white bg-success o-hidden h-100">
                  <div class="card-body">
                     <div class="card-body-icon">
                        <i class="fa fa-fw fa-male"></i>
                     </div>
                     <h2>{{farmer_count}}</h2>
                     <div class="mr-5">Farmer</div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-body">
                     <div class="card-body-icon">
                        <i class="fa fa-fw fa-user-md"></i>
                     </div>
                     <h2>{{paravet_count}}</h2>
                     <div class="mr-5">Pare Vet</div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="card text-white bg-secondary o-hidden h-100">
                  <div class="card-body">
                     <div class="card-body-icon">
                        <i class="fa fa-fw fa-medkit"></i>
                     </div>
                     <h2>{{ai_count}}</h2>
                     <div class="mr-5">Al Technician</div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="card text-white bg-danger o-hidden h-100">
                  <div class="card-body">
                     <div class="card-body-icon">
                        <i class="fa fa-fw fa-user-md"></i>
                     </div>
                     <h2>{{vet_count}}</h2>
                     <div class="mr-5">Veterinarian</div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="card text-white bg-warning o-hidden h-100">
                  <div class="card-body">
                     <div class="card-body-icon">
                        <i class="fa fa-fw fa-envira"></i>
                     </div>
                     <h2>{{cattle_count}}</h2>
                     <div class="mr-5">Cattle</div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="card text-white bg-info o-hidden h-100">
                  <div class="card-body">
                     <div class="card-body-icon">
                        <i class="fa fa-fw fa-github-alt"></i>
                     </div>
                     <h2>{{sickness_count}}</h2>
                     <div class="mr-5">Total No of Sickness Cases</div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-body">
                     <div class="card-body-icon">
                        <i class="fa fa-fw fa-globe"></i>
                     </div>
                     <h2>{{husbandry_count}}</h2>
                     <div class="mr-5">Total No. of Husbandry</div>
                  </div>
               </div>
            </div>
            <!-- <div class="col-xl-3 col-sm-6 mb-3">
               <div class="card text-white bg-secondary o-hidden h-100">
                 <div class="card-body">
                   <div class="card-body-icon">
                     <i class="fa fa-fw fa-image"></i>
                   </div>
                   <h2>200</h2>
                   <div class="mr-5">Total No. of Delivered</div>
                 </div>
               </div>
               </div>
               <div class="col-xl-3 col-sm-6 mb-3">
               <div class="card text-white bg-success o-hidden h-100">
                 <div class="card-body">
                   <div class="card-body-icon">
                     <i class="fa fa-fw fa-user-md"></i>
                   </div>
                   <h2>200</h2>
                   <div class="mr-5">Total No. of All records kept</div>
                 </div>
               </div>
               </div>
               <div class="col-xl-3 col-sm-6 mb-3">
               <div class="card text-white bg-warning o-hidden h-100">
                 <div class="card-body">
                   <div class="card-body-icon">
                     <i class="fa fa-fw fa-comments"></i>
                   </div>
                   <h2>200</h2>
                   <div class="mr-5">Total No. of Breed Idetification Service Delevered</div>
                 </div>
               </div>
               </div> -->
         </div>