<table id ="farmer_table_id" class="table table-bordered table-hover table-fixed table-striped">
        <thead>
            <th> SL NO </th>
            <th>Farmer name</th>
            <th> Mobile number </th>
            <th> Number of cases</th>
            <th>Registered by</th>
            <th>Action</th>
        </thead>
        <tbody>
        {% for data in dataset %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.farmer_name }}</td>
            <td> {{ data.mobile }}</td>
            <td> {{ data.case_number}}</td>
            <td> {{ data.user_name }}</td>
            <td>
                <a href="/livestock/farmer_profile/{{ data.id }}/" id = ""  class="btn btn-primary btn-md"  data-original-title="" title="">Details</a>

            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
