<table id ="prescription_table_id" class="table table-bordered table-hover table-fixed table-striped">
        <thead>
            <th> Tentative Diagnosis</th>
            <th>Cattle Type</th>
            <th> Body Weight From </th>
            <th> Body Weight To</th>
            <th>Medicine Type</th>
            <th>Medine Name</th>
        <th>Pack size</th>
        <th>Quantity</th>
        <th>Dose</th>
        <th>Route</th>
        <th>Days</th>
        <th>Advice</th>
        </thead>
        <tbody>
        {% for data in dataset %}
        <tr>
            <td>{{data.diagnosis_name}}</td>
            <td>{{data.cattle }}</td>
            <td> {{ data.weight_from }}</td>
            <td> {{ data.weight_to }}</td>
            <td> {{ data.medicine_type }}</td>
            <td> {{ data.medicine_name }}</td>
            <td> {{ data.packsize }}</td>
            <td> {{ data.quantity }}</td>
            <td> {{ data.dose }}</td>
            <td> {{ data.route }}</td>
            <td> {{ data.days }}</td>
            <td> {{ data.advice }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
