<div class="row">
            <div class="col-xl-2 col-sm-2 col-md-2 col-lg-2 mb-3 sms-dashboard-div" >
               <div class="card text-white bg-success o-hidden h-100">
                  <div class="card-body">
                     <div class="card-body-icon">
                        <i class="fa fa-fw fa-male"></i>
                     </div>
                      <div class="mr-5">Total No. of SMS delivered</div>
                     <h2>{{farmer_count}}</h2>
                  </div>
               </div>
            </div>
            <div class="col-xl-2 col-sm-2 col-md-2 col-lg-2 mb-3 sms-dashboard-div">
               <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-body">
                     <div class="card-body-icon">
                        <i class="fa fa-fw fa-user-md"></i>
                     </div>
                      <div class="mr-5"> Total No. of Farmer received SMS </div>
                     <h2>{{paravet_count}}</h2>
                  </div>
               </div>
            </div>
            <div class="col-xl-2 col-sm-2 col-md-2 col-lg-2 mb-3 sms-dashboard-div">
               <div class="card text-white bg-secondary o-hidden h-100">
                  <div class="card-body">
                     <div class="card-body-icon">
                        <i class="fa fa-fw fa-medkit"></i>
                     </div>
                      <div class="mr-5">No. of General SMS delivered </div>
                     <h2>{{ai_count}}</h2>
                  </div>
               </div>
            </div>
            <div class="col-xl-2 col-sm-2 col-md-2 col-lg-2 mb-3 sms-dashboard-div">
               <div class="card text-white bg-danger o-hidden h-100">
                  <div class="card-body">
                     <div class="card-body-icon">
                        <i class="fa fa-fw fa-user-md"></i>
                     </div>
                      <div class="mr-5">No. of Promotional SMS delivered</div>
                     <h2>{{vet_count}}</h2>
                  </div>
               </div>
            </div>
            <div class="col-xl-2 col-sm-2 col-md-2 col-lg-2 mb-3 sms-dashboard-div ">
               <div class="card text-white bg-warning o-hidden h-100">
                  <div class="card-body">
                     <div class="card-body-icon">
                        <i class="fa fa-fw fa-envira"></i>
                     </div>
                      <div class="mr-5">No. of Event Based SMS delivered </div>
                     <h2>{{cattle_count}}</h2>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="card text-white bg-info o-hidden h-100">
                  <div class="card-body">
                     <div class="card-body-icon">
                        <i class="fa fa-fw fa-github-alt"></i>
                     </div>
                      <div class="mr-5">Total No. IVR delivered </div>
                     <h2>{{sickness_count}}</h2>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-body">
                     <div class="card-body-icon">
                        <i class="fa fa-fw fa-globe"></i>
                     </div>
                     <h2>{{husbandry_count}}</h2>
                     <div class="mr-5"> Total No. of Farmer received IVR </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="card text-white bg-secondary o-hidden h-100">
                 <div class="card-body">
                   <div class="card-body-icon">
                     <i class="fa fa-fw fa-image"></i>
                   </div>
                   <h2>200</h2>
                   <div class="mr-5">No. of General IVR delivered</div>
                 </div>
               </div>
               </div>
               <div class="col-xl-3 col-sm-6 mb-3">
               <div class="card text-white bg-success o-hidden h-100">
                 <div class="card-body">
                   <div class="card-body-icon">
                     <i class="fa fa-fw fa-user-md"></i>
                   </div>
                   <h2>200</h2>
                   <div class="mr-5">No. of Promotional IVR delivered</div>
                 </div>
               </div>
               </div>
               <div class="col-xl-3 col-sm-6 mb-3">
               <div class="card text-white bg-warning o-hidden h-100">
                 <div class="card-body">
                   <div class="card-body-icon">
                     <i class="fa fa-fw fa-comments"></i>
                   </div>
                   <h2>200</h2>
                   <div class="mr-5">No. of Event Based IVR delivered</div>
                 </div>
               </div>
               </div>
         </div>