{% extends 'base_test.html' %}
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Redgister User{% endblock %}</title>
</head>
{% load i18n %}
{% block content %}
<div class="col-md-12">
    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i> Sign Up
            </div>
        </div>
        <div class="portlet-body form">
            <form class="horizontal-form" id="user_form" method="post" action="/usermodule/register/" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ user_form.username.id_for_label }}">Username:</label>
                                <input type="text" name="{{ user_form.username.name }}" value="{%  if user_form.username.value  %}{{ user_form.username.value  }}{% endif %}" class="form-control">
                                <span class="help-block">{{ user_form.username.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ user_form.first_name.id_for_label }}">{{ user_form.first_name.label }}</label>
                                <input  id = "f_name" type="text" name="{{ user_form.first_name.name }}" value="{%  if user_form.first_name.value  %}{{ user_form.first_name.value }}{% endif %}" class="form-control">
                                <span class="help-block">{{ user_form.first_name.errors.as_text }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ user_form.last_name.id_for_label }}">Lastname:</label>
                                <input id= "l_name" type="text" name="{{ user_form.last_name.name }}" value="{%  if user_form.last_name.value  %}{{ user_form.last_name.value }}{% endif %}" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ user_form.email.id_for_label }}">Email:</label>

                                <input type="email" name="{{ user_form.email.name }}" value="{%  if user_form.email.value  %}{{ user_form.email.value }}{% endif %}" class="form-control">
                                <span class="help-block">{{ user_form.email.errors.as_text }}</span>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ user_form.password.id_for_label }}">Password:</label>
                                <input type="password" name="{{ user_form.password.name }}" class="form-control">
                                <span class="help-block">{{ user_form.password.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ user_form.password_repeat.id_for_label }}">Confirm Password:</label>
                                <input type="password" name="{{ user_form.password_repeat.name }}" class="form-control">
                                <span class="help-block">{{ user_form.password_repeat.errors.as_text }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class=""></label>
                                <div class="checkbox-list">
                                    <label>
                                        <!--<input name="{{ profile_form.admin.name }}" type="checkbox" {% if profile_form.admin.value == 1 %} checked{% endif %}> Make This User Admin-->
                                        <input type="hidden" name="{{ profile_form.admin.name }}" type="checkbox"  checked>
                                    </label>
                                </div>
                            </div>
                        </div>
                       <!-- <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ profile_form.employee_id.id_for_label }}">Employee Id:</label>
                                <input type="text" name="{{ profile_form.employee_id.name }}"value="{%  if profile_form.employee_id.value  %}{{ profile_form.employee_id.value }}{% endif %}"  class="form-control">
                                <span class="help-block">{{ profile_form.employee_id.errors.as_text }}</span>
                            </div>
                        </div>-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Farm name:</label>
                                <select id="{{ profile_form.organisation_name.id_for_label }}"
                                        name="{{ profile_form.organisation_name.name }}" class="form-control">
                                    {% for m,n in profile_form.fields.organisation_name.choices %}
                                    <option value="{{ m }}"  {% if profile_form.organisation_name.value|slugify == m|slugify %} selected{% endif %}>{{ n }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <span class="help-block">{{ profile_form.organisation_name.errors.as_text }}</span>
                            </div>
                        </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ profile_form.contact_number.id_for_label }}">Contact Number (e.g: 01xxxxxxxxx):</label>
                                <input type="text" value="{%  if profile_form.contact_number.value  %}{{ profile_form.contact_number.value }}{% endif %}" name="{{ profile_form.contact_number.name }}" class="form-control" pattern="^(?:\+88|01)?(?:\d{11}|\d{13})$">
                                 <span class="help-block" hidden>{{ profile_form.contact_number.errors.as_text }}</span>
                            </div>
                        </div>
                        <!--<div class="col-md-6">
                            <div class="form-group">
                                <label>Country:</label>
                                <select id="{{ profile_form.country.id_for_label }}"
                                        name="{{ profile_form.country.name }}" class="form-control">
                                    {% for x,y in profile_form.fields.country.choices %}
                                    <option value="{{ x }}" {% if profile_form.country.value == x %} selected{% endif %}>{{ y }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <span class="help-block">{{ profile_form.country.errors.as_text }}</span>
                            </div>
                        </div>-->
                    </div>
                    <div class="row" >
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Assign to (in case of Veterinarian):</label>
                                <select id="supervisor"
                                        name="supervisor" class="form-control">
                                    <option value="">Select One</option>
                                    {% for q,w in supervisors %}
                                    <option value="{{ q }}" >{{ w }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!--<div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ profile_form.position.id_for_label }}" hidden>Position:</label>
                                <input type="hidden" name="{{ profile_form.position.name }}" value="{%  if profile_form.position.value  %}{{ profile_form.position.value }}{% endif %}" class="form-control" value="default">
                                <span class="help-block" hidden>{{ profile_form.position.errors.as_text }}</span>
                            </div>
                        </div>-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="imageupload imageupload_img panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <h3 class="panel-title pull-left">Upload Image(Optional)</h3>
                                        <div class="btn-group pull-right hidden">
                                            <button type="button" class="btn btn-default active">File</button>
                                            <button type="button" class="btn btn-default">URL</button>
                                        </div>
                                    </div>
                                    <div class="file-tab panel-body">
                                        <label class="btn btn-default btn-file">
                                            <span>Browse</span>
                                            <!-- The file is stored here. -->
                                            <input type="file" name="image-file">
                                        </label>
                                        <button type="button" class="btn btn-default">Remove</button>
                                    </div>
                                    <div class="url-tab panel-body">
                                        <div class="input-group">
                                            <input type="text" class="form-control hasclear" placeholder="Image URL">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default">Submit</button>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-default">Remove</button>
                                        <!-- The URL is stored here. -->
                                        <input type="hidden" name="image-url">
                                    </div>
                                </div>
                            </div>
                            </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="imageupload imageupload_sig panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <h3 class="panel-title pull-left">Digital Signature(Optional)</h3>
                                        <div class="btn-group pull-right hidden">
                                            <button type="button" class="btn btn-default active">File</button>
                                            <button type="button" class="btn btn-default">URL</button>
                                        </div>
                                    </div>
                                    <div class="file-tab panel-body">
                                        <label class="btn btn-default btn-file">
                                            <span>Browse</span>
                                            <!-- The file is stored here. -->
                                            <input type="file" name="signature-file">
                                        </label>
                                        <button type="button" class="btn btn-default">Remove</button>
                                    </div>
                                    <div class="url-tab panel-body">
                                        <div class="input-group">
                                            <input type="text" class="form-control hasclear" placeholder="Image URL">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default">Submit</button>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-default">Remove</button>
                                        <!-- The URL is stored here. -->
                                        <input type="hidden" name="image-url">
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>

                    </div>


                <div class="form-actions">
                    <button type="submit" class="btn red pull-right">Submit</button>
                    <button onclick="history.go(-1);" style="margin-right:10px;" type="button" class="btn default pull-right">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block additional-javascript %}
<script src="{{ STATIC_URL }}js/bootstrap-imageupload.js"></script>
 <!-- <script type="text/javascript" src="/static/js/jquery.searchable-ie-1.1.0.min.js"></script> -->
 <!-- <script type="text/javascript" src="/static/js/usermodule_userprofile.js"></script>    -->
    <script>

{#     $('#f_name').keypress(function (e) {#}
{#        var regex = new RegExp("^[a-zA-Z]+$");#}
{#        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);#}
{#        if (regex.test(str)) {#}
{#            return true;#}
{#        }#}
{#        else#}
{#        {#}
{#        e.preventDefault();#}
{#        alert('Please Enter Alphabate');#}
{#        return false;#}
{#        }#}
{#    });#}
{#     $('#l_name').keypress(function (e) {#}
{#        var regex = new RegExp("^[a-zA-Z]+$");#}
{#        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);#}
{#        if (regex.test(str)) {#}
{#            return true;#}
{#        }#}
{#        else#}
{#        {#}
{#        e.preventDefault();#}
{#        alert('Please Enter Alphabate');#}
{#        return false;#}
{#        }#}
{#    });#}



{#            var $imageupload = $('.imageupload');#}
{#            $imageupload.imageupload();#}

            $('.imageupload_img').imageupload();
            $('.imageupload_sig').imageupload();
    </script>
    
{% endblock %}

{% block additional-headers %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link href="{{ STATIC_URL }}css/bootstrap-imageupload.css" rel="stylesheet">
<head>
    <title>
        {% block title %} Register User {% endblock %}
    </title>
</head>
    <style >
    .data-table-container table {
        clear: both;
        display: table !important;
        overflow-x: auto;
        width: 98% !important;
    }

    .highlight { background-color: #D9EDF7; }

    .table th, .table td {
        border: 1px solid #dddddd !important;
    }

    tr:hover {
        background-color: #ffff99;
    }

    .imageupload {
                margin: 20px 0;
            }
    </style>
    
{% endblock %}
