<!DOCTYPE html>
<html>
<head>
<title>Example | Home</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/sajida_style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

	<div class=" container-fluid login-area">
    	<div class="row">
        		<div class="col-lg-12 logo"><img src="{{ STATIC_URL }}images/admin-logo.png"></div>
      </div>
      	<div class="row">
      		
            
            
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<p>Welcome to Sajida Foundation ! Please enter Your User ID and Password to Sign In</p><br>
				  <form class="login-form" method="post" action="/usermodule/login/" >
                            {% csrf_token %}
                            <input type="text" class="input" id="user_login" name="username" autocomplete="off" placeholder="Email or Username">
                            <input type="password" class="input" id="user_pass" name="password" autocomplete="off" placeholder="Password">
                            <!--<input type="checkbox" class="checkbox" checked id="remember_me">
                            <label for="remember_me">Remember me</label>-->
                            <input type="hidden" id="redirect_url" name="redirect_url" value="{{redirect_url}}"/>
                            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                        </form>
					
				  <div class="login-help">
					<!--<a href="#">Register</a> - <a href="#">Forgot Password</a>-->
				  </div>
				</div>
			</div>
            
            
            
      	</div>
    </div>
    
    <div class="container-fluid footer">
			<div class="col-lg-6 pull-left">Copyright &copy; 2018 by Sajida Foundation . All rights reserved.</div>
			
		</div>

</body>
</html>
